body {
  margin: 0;
  background-color: #000;
}

.shutter{
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  background-color:rgb(0, 0, 0);
  z-index:99;
  -webkit-animation: byeShutter 1.5s forwards;
  animation: byeShutter 1.5s forwards;
}
.logo {
  position: absolute;
  width: 120px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: logo 1.2s forwards;
  animation: logo 1.2s forwards;
  animation-delay: 0.2s;
}
@keyframes byeShutter {
70% {
  opacity: 1;
}
100% {
  display: none;
  opacity: 0;
  z-index: -1;
}
}
@keyframes logo {
0% {
  opacity: 1;
}
  
50% {
  transform: rotate(0deg);    
  transform: scale(0.5); 
}
  100% {
  transform: scale(5);
  }
}

.icon {
 display: flex;
 position: relative;
}
.icon-inner {
  padding: 20px;
  top: 0;
  left: 0;
}
.overlay {
  width: 100vw;
  overflow: hidden;
}
.overlay
video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
}
.menu-btn {
  position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000000;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
.menu-content {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
#menu-btn-check:checked ~ .menu-content{
  left: 70%;
}
.twitter {
  text-align: center;
  size: auto;
  position: relative;
}
.href-black {
  width: 100%;
  height: 100vw;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
}
.about {
  position: relative;
  padding: 20px;
  text-shadow:1px 1px 0 rgb(255, 255, 255),-1px 1px 0 rgb(255, 255, 255),1px -1px 0 rgb(255, 255, 255),-1px -1px 0 rgb(255, 255, 255);
}
.class1 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  text-shadow:0 0 20px rgb(255, 119, 29);
}
.class2 {
  color: #000;
  font-size: 50px;
}
.Rafulu-w {
  position: absolute;
  right: 150px;
  top: 800px;
}
.explanation {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 18pt;
  font-family: serif;
  top: -100px;
  padding: 20px;
}
.black {
  width: 100%;
  height: 100vw;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}
HTML CSSResult Skip Results Iframe
EDIT ON
a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.news {
  padding: 50px 0;
  position: relative;
  color: #ffffff;
}
.inner {
  width: 80%;
  background-color: rgb(150, 150, 150);
  margin: 0 auto;
  padding: 65px 0 100px;
}
.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.news_list {
  margin: 0 5%;
}
.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #E6E6E6;
}
.news_list_item:first-child {
  border-top: 1px solid #E6E6E6;
}
.news_list_item a {
 position: relative;
 display: flex;
 padding-right: 30px;
}
.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 15px;
  align-items: center;
}
.news_item {
  background: #F6C6A2;
  border-radius: 14px;
  width: 6em;
  text-align: center;
  margin-left: 20px;
}
.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}
.arrow::after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
}
@media screen and (max-width: 1024px) {
    .news_list_item a {
        display: block;
    }
}
@media screen and (max-width: 769px) {
    .news_list_item a  {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    .arrow {
        display: none;
    }
    .news_list_item a {
        padding-right: 0;
    }
}
.plan {
  color: #ffffff;
  position: relative;
}
.memory {
  color: #ffffff;
  position: relative;
}
.Twitter-icon {
  position: relative;
}

.at-section__title {
  margin: 0 0 70px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}
.at-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 5px solid #000000;
}
.at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
  min-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
  min-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.at-grid[data-column="7"] .at-column {
  width: 14.2857142857%;
  max-width: 14.2857142857%;
  min-width: 14.2857142857%;
  flex-basis: 14.2857142857%;
}
.at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  flex-basis: 12.5%;
}
.at-column {
  z-index: 0;
  position: relative;
  background: #868686;
  /* background-image: url(icon.png);
  background-size: 100%; */
  box-shadow: 0 0 0 1px #000000;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgb(255, 255, 255);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}
.at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.at-user__name {
  color: #313435;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.at-user__title {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}
.at-social {
  margin: 0 0 -18px;
  opacity: 0;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
  display: inline-block;
  margin: 0 10px;
}
.at-social__item a {
  display: block;
}
.at-social__item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  transition: fill 0.2s ease;
}
.at-social__item svg:hover {
  fill: #788D96;
}

body {
  background: #FFF;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(0.8);
}